<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ascii-Art</title>
</head>
<body>
    <h1>Ascii Art Generator</h1>

    <form action="/ascii-art" method="POST">

        <label for="inputText">Enter your text:</label>
        <textarea name="inputText" id="inputText"></textarea>

        <label>Choose a banner:</label>
        <select name="banner">
            <option value="standard">Standard</option>
            <option value="shadow">Shadow</option>
            <option value="thinkertoy">Thinkertoy</option>
        </select>

        <button type="submit">Generate</button>
    </form>

    {{if .Result}}
        <pre>{{.Result}}</pre>
    {{end}}
</body>
</html>